   .img{
	text-align: center;
	width: 250px;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
   }
   table,th,td{
	       border: 1px solid brown;
		   }
    .p1{
       color: blue;
	}
     body{
        background-color: pink;
	 }		
	
   
   
	  
   
	   
   
     	
	   
    

  